.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 30px;
}

.users {
  flex-basis: 40%;
}

.todos {
  flex-basis: 60%;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .users,
  .todos {
    flex-basis: unset;
  }
}
